<div class="thumbnail">
<%= image_tag @userburfday.photo.url(:mug), :class => 'img-responsive img-circle' %>
</div>
<%= render 'form' %>
<br>
<%= link_to 'Remove', burfday_path, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
