<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Welcome to #BURFDAY!<%= @user.name %></h1>
  <p>
    You have successfully signed up to #BURFDAY,
    your email is: <%= @user.email %>.<br>
  </p>
  <p>
    To login to the site, just follow this link: <%= root_path %>.
  </p>
  <p>Thanks for joining #BURFDAY</p>
</body>
</html>
