<%= @greeting %>

<% @burfdays.all.each do |burfday| %>
<%= burfday.days_till_next_bufday %></span> Days Until
<%= burfday.name.titleize %>'s #BURFDAY on
<%= burfday.age.strftime("%B %eth") %>!
<%end%>
