<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <h5 class="glyphicon glyphicon-gift text-white" aria-hidden="true"></h5>
      </button>
      <%= link_to root_path, :class => "navbar-brand" do %>
      <h1 class="logo">
        <span>#</span><span>B</span><span>U</span><span>R</span><span>F</span><span>D</span><span>A</span><span>Y</span>
      </h1>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="default">
          <%= link_to "Contact", contact_path %>
        </li>
        <% if user_signed_in? %>
        <li class="default">
            <%= link_to "Your Account", edit_user_registration_path %>
        </li>
        <li class="default">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        </li>
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
