
<div style="width:100%;" align="center">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center" valign="top" style="background-color:#e67e22;" bgcolor="#e67e22;">

        <table width="583" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" valign="top" bgcolor="#FFFFFF" style="background-color:#FFFFFF;"></td>
          </tr>
          <tr>
            <td align="left" valign="top" bgcolor="#FFFFFF" style="background-color:#FFFFFF;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="35" align="left" valign="top">&nbsp;</td>
                <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="center" valign="top">
                      <div style="color:#8e44ad; font-family: sans-serif; font-size:48px;"><strong>#BURFDAY</strong></div>
                      <div style="font-family: Verdana, Geneva, sans-serif; color:#7f8c8d; font-size:12px;"><em>The simple birthday reminder app!</em></div></td>
                    </tr>
                    <tr>

                      <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#525252;">
                        <br>
                        <div style="color:#2ecc71; font-size:19px;min-height:50px;"><%= yield %>
                        </div>
                        <br>
                        <br>
                      </td>
                    </tr>
                    <tr>
                      <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#525252;">&nbsp;</td>
                    </tr>
                  </table></td>
                  <td width="35" align="left" valign="top">&nbsp;</td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#2ecc71" style="background-color:#2ecc71;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="35">&nbsp;</td>
                    <td height="50" valign="middle" style="color:#FFFFFF; font-size:11px; font-family:Arial, Helvetica, sans-serif;"><b>#BURFDAY APP</b><br>
                      This Ruby on Rails app was the creation and final project for Rails Bootcamp by @dwightgnjohnson. ENJOY!</td>
                      <td width="35">&nbsp;</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <br>
            <br></td>
          </tr>
        </table>

      </div>
