
<div style="width:100%;" align="center">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center" valign="top" style="background-color:#75BD9F;" bgcolor="#75BD9F;">

        <table width="583" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" valign="top" bgcolor="#FFFFFF" style="background-color:#FFFFFF;border-top:10px solid #75BD9F;"></td>
          </tr>
          <tr>
            <td align="left" valign="top" bgcolor="#FFFFFF" style="background-color:#FFFFFF;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="35" align="left" valign="top">&nbsp;</td>
                <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="center" valign="top">
                      <div style="color:#8e44ad; font-family: sans-serif; font-size:48px;">
                          <%= email_image_tag("burfdaylogowhite.png") %>
                      </div>
                      <div style="font-family: Verdana, Geneva, sans-serif; color:#E3C636; font-size:12px;"><em>The simple birthday reminder app!</em></div></td>
                    </tr>
                    <tr>

                      <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#525252;">
                        <br>
                        <div style="color:#489b63; ;min-height:70px;padding:0 20px;">
                          <%= yield %>
                        </div>
                        <br>
                        <br>
                      </td>
                    </tr>
                    <tr>
                      <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#525252;">&nbsp;</td>
                    </tr>
                  </table></td>
                  <td width="35" align="left" valign="top">&nbsp;</td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#E3C636" style="background-color:#E3C636;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="35">&nbsp;</td>
                    <td height="50" valign="middle" style="color:#FFFFFF; font-size:11px; font-family:Arial, Helvetica, sans-serif;"><b>#BURFDAY APP</b><br>
                      This Ruby on Rails app was the creation and final project for Rails Bootcamp by @dwightgnjohnson ENJOY!</td>
                      <td width="35">&nbsp;</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <br>
            <br></td>
          </tr>
        </table>

      </div>
